.heading {
  font-size: $fontSize;

  &--large {
    font-size: $fontSize*1.5;


  }

  &--medium {
    font-size: $fontSize*0.9;

    @include tablet {
      font-size: $fontSize;

    }

  }

  &--small {
    font-size: $fontSize*0.8;
  }

  &--centre {
    text-align: center;
    padding: 5px;
  }

  &--border-bottom {
    border-bottom: 1px dashed $colorPrimaryFont;
  }



}