// Colors
$backgroundColor: #F5F5F5;
$colorShadow: #424242;
$colorPrimaryFont: #212121; // primary color
$red:red;


// table
$spaceRow: 20px; // space row table
$tableWidth: 90%;
$tableWidthContent: 100%;
$rowWidth: 100%;

//fonts
$fontSize: 20px;
$fontPrimary: Roboto,
sans-serif;

// rwd

$phoneMedium-width: 460px;
$tablet-width: 600px;
$desktop-width: 1273px;